importFrom(rlang,.data)
export(trama_collection)
export(tr_models_anova_dbc)
export(tr_models_anova_dic)
export(tr_models_anova_dql)
export(tr_models_anova_factorial)
export(tr_models_anova_split_plot)
export(tr_models_anova_table)
export(tr_models_bartlett)
export(tr_models_breusch_pagan)
export(tr_models_chisq)
export(tr_models_coefficients)
export(tr_models_plot_coefficients)
export(tr_models_compare)
export(tr_models_cor_test)
export(tr_models_emmeans)
export(tr_models_errors)
export(tr_models_example)
export(tr_models_fisher_exact)
export(tr_models_fit_stats)
export(tr_models_glm)
export(tr_models_friedman)
export(tr_models_kruskal)
export(tr_models_dunn)
export(tr_models_effect_size)
export(tr_models_cohen_d)
export(tr_models_levene)
export(tr_models_lm)
export(tr_models_lmer)
export(tr_models_one_sample_t)
export(tr_models_paired_t)
export(tr_models_pairwise)
export(tr_models_plot_diagnostics)
export(tr_models_plot_means)
export(tr_models_random_effects)
export(tr_models_random_test)
export(tr_models_residuals)
export(tr_models_shapiro)
export(tr_models_shapiro_residuals)
export(tr_models_t_test)
export(tr_models_tukey_additivity)
export(tr_models_wilcoxon)
export(tr_models_linear_hypothesis)
export(tr_models_plot_caterpillar)
export(tr_models_duncan)
export(tr_models_waller_duncan)
export(tr_models_scott_knott)
export(tr_models_predict)
export(tr_models_rls_fn)
export(tr_models_clean_name)
export(tr_models_info)
export(tr_models_predict_raw)
export(tr_models_predict_cv)
export(tr_models_coefs)
export(tr_models_stats)
export(tr_models_resid)
export(tr_models_importance)
export(tr_models_card)
export(tr_models_serialize)
export(tr_models_unserialize)
export(tr_models_as_table)
S3method(tr_models_info,tr_models_fit)
S3method(tr_models_predict_raw,tr_models_fit)
S3method(tr_models_predict_cv,tr_models_fit)
S3method(tr_models_coefs,tr_models_fit)
S3method(tr_models_stats,tr_models_fit)
S3method(tr_models_resid,tr_models_fit)
S3method(tr_models_importance,tr_models_fit)
S3method(tr_models_card,tr_models_fit)
S3method(tr_models_serialize,default)
S3method(tr_models_unserialize,default)
S3method(tr_models_as_table,tr_models_fit)
S3method(tr_models_info,tr_models_lm)
S3method(tr_models_info,tr_models_glm)
S3method(tr_models_info,tr_models_lmer)
S3method(tr_models_info,tr_models_split)
S3method(tr_models_predict_raw,tr_models_lm)
S3method(tr_models_predict_raw,tr_models_glm)
S3method(tr_models_predict_raw,tr_models_lmer)
S3method(tr_models_predict_raw,tr_models_split)
S3method(tr_models_predict_cv,tr_models_lm)
S3method(tr_models_predict_cv,tr_models_glm)
S3method(tr_models_predict_cv,tr_models_lmer)
S3method(tr_models_predict_cv,tr_models_split)
S3method(tr_models_coefs,tr_models_lm)
S3method(tr_models_coefs,tr_models_glm)
S3method(tr_models_coefs,tr_models_lmer)
S3method(tr_models_coefs,tr_models_split)
S3method(tr_models_stats,tr_models_lm)
S3method(tr_models_stats,tr_models_glm)
S3method(tr_models_stats,tr_models_lmer)
S3method(tr_models_stats,tr_models_split)
S3method(tr_models_resid,tr_models_lm)
S3method(tr_models_resid,tr_models_glm)
S3method(tr_models_resid,tr_models_lmer)
S3method(tr_models_resid,tr_models_split)
S3method(tr_models_importance,tr_models_lm)
S3method(tr_models_importance,tr_models_glm)
S3method(tr_models_importance,tr_models_lmer)
S3method(tr_models_importance,tr_models_split)
S3method(tr_models_card,tr_models_lm)
S3method(tr_models_card,tr_models_glm)
S3method(tr_models_card,tr_models_lmer)
S3method(tr_models_card,tr_models_split)
S3method(tr_models_as_table,tr_models_lm)
S3method(tr_models_as_table,tr_models_glm)
S3method(tr_models_as_table,tr_models_lmer)
S3method(tr_models_as_table,tr_models_split)
export(tr_models_confusion)
export(tr_models_roc)
export(tr_models_evaluate)
export(tr_models_importance_table)
export(tr_models_effects)
export(tr_models_nls)
export(tr_models_glmer)
export(tr_models_plot_regression)
S3method(tr_models_info,tr_models_glmer)
S3method(tr_models_predict_raw,tr_models_glmer)
S3method(tr_models_predict_cv,tr_models_glmer)
S3method(tr_models_coefs,tr_models_glmer)
S3method(tr_models_stats,tr_models_glmer)
S3method(tr_models_resid,tr_models_glmer)
S3method(tr_models_importance,tr_models_glmer)
S3method(tr_models_card,tr_models_glmer)
S3method(tr_models_as_table,tr_models_glmer)
S3method(tr_models_info,tr_models_nls)
S3method(tr_models_predict_raw,tr_models_nls)
S3method(tr_models_predict_cv,tr_models_nls)
S3method(tr_models_coefs,tr_models_nls)
S3method(tr_models_stats,tr_models_nls)
S3method(tr_models_resid,tr_models_nls)
S3method(tr_models_importance,tr_models_nls)
S3method(tr_models_card,tr_models_nls)
S3method(tr_models_as_table,tr_models_nls)
S3method(tr_models_info,tr_models_dose)
S3method(tr_models_predict_raw,tr_models_dose)
S3method(tr_models_predict_cv,tr_models_dose)
S3method(tr_models_coefs,tr_models_dose)
S3method(tr_models_stats,tr_models_dose)
S3method(tr_models_resid,tr_models_dose)
S3method(tr_models_importance,tr_models_dose)
S3method(tr_models_card,tr_models_dose)
S3method(tr_models_as_table,tr_models_dose)
export(tr_models_polinomial)
