importFrom(rlang,.data)
export(trama_collection)
export(tr_sampling_cluster)
export(tr_sampling_design)
export(tr_sampling_errors)
export(tr_sampling_example)
export(tr_sampling_mean)
export(tr_sampling_plot_estimates)
export(tr_sampling_plot_simulation)
export(tr_sampling_poststratify)
export(tr_sampling_pps)
export(tr_sampling_proportion)
export(tr_sampling_ratio)
export(tr_sampling_simulate)
export(tr_sampling_size_cluster)
export(tr_sampling_size_curve)
export(tr_sampling_size_mean)
export(tr_sampling_size_proportion)
export(tr_sampling_size_stratified)
export(tr_sampling_srs)
export(tr_sampling_stratified)
export(tr_sampling_systematic)
export(tr_sampling_total)
export(tr_sampling_two_stage)
export(tr_sampling_margin)
export(tr_sampling_margin_levels)
export(tr_sampling_referral)
export(tr_sampling_size_domains)
export(tr_sampling_detectable_difference)
export(tr_sampling_plot_margins)
export(tr_sampling_rake)
export(tr_sampling_question_margins)
