export(tr_py_forest)
export(trama_collection)
S3method(trama.models::tr_models_info,tr_py_fit)
S3method(trama.models::tr_models_predict_raw,tr_py_fit)
S3method(trama.models::tr_models_predict_cv,tr_py_fit)
S3method(trama.models::tr_models_stats,tr_py_fit)
S3method(trama.models::tr_models_importance,tr_py_fit)
S3method(trama.models::tr_models_card,tr_py_fit)
S3method(trama.models::tr_models_as_table,tr_py_fit)
S3method(trama.models::tr_models_serialize,tr_py_fit)
S3method(trama.models::tr_models_unserialize,tr_py_fit)
