importFrom(rlang,.data)
export(trama_collection)
export(tr_multi_errors)
export(tr_multi_example)
export(tr_multi_kmo_bartlett)
export(tr_multi_mardia)
export(tr_multi_parallel)
export(tr_multi_plot_correlation)
export(tr_multi_correlation_matrix)
export(tr_multi_pca)
export(tr_multi_pca_variance)
export(tr_multi_pca_loadings)
export(tr_multi_scree)
export(tr_multi_biplot)
export(tr_multi_correlation_circle)
export(tr_multi_factor_analysis)
export(tr_multi_fa_loadings)
export(tr_multi_plot_loadings)
export(tr_multi_discriminant)
export(tr_multi_classify)
export(tr_multi_confusion)
export(tr_multi_discriminant_functions)
export(tr_multi_box_m)
export(tr_multi_plot_discriminant)
export(tr_multi_logistic)
export(tr_multi_logistic_coefficients)
export(tr_multi_plot_odds)
export(tr_multi_roc)
export(tr_multi_jackknife_pca)
export(tr_multi_jackknife_fa)
export(tr_multi_jackknife_discriminant)
export(tr_multi_jackknife_logistic)
