importFrom(rlang,.data)
export(trama_collection)
export(tr_points)
export(tr_line)
export(tr_bars)
export(tr_histogram)
export(tr_boxplot)
export(tr_area)
export(tr_bin2d)
export(tr_heatmap)
export(tr_density)
export(tr_violin)
export(tr_ecdf)
export(tr_qq)
export(tr_means)
export(tr_labels)
export(tr_strip)
export(tr_dotplot)
export(tr_dumbbell)
export(tr_paired)
export(tr_pareto)
export(tr_view_errors)
export(tr_view_props)
export(tr_view_finish)
export(tr_view_render)
export(tr_view_help_appearance)
