importFrom(rlang,.data)
importFrom(rlang,"%||%")
export(trama_collection)
export(tr_spatial_errors)
export(tr_spatial_coordinates)
export(tr_spatial_example)
export(tr_spatial_variogram)
export(tr_spatial_variogram_fit)
export(tr_spatial_kriging)
export(tr_spatial_grid)
export(tr_spatial_explore)
export(tr_spatial_map)
export(tr_spatial_report_points)
export(tr_spatial_report_variogram)
export(tr_spatial_report_model)
export(tr_spatial_report_surface)
export(tr_spatial_convex_hull)
export(tr_spatial_boundary_obj)
export(tr_spatial_boundary)
export(tr_spatial_read_points)
export(tr_spatial_anisotropy)
export(tr_spatial_validation)
export(tr_spatial_indicator)
export(tr_spatial_report_boundary)
export(tr_spatial_report_anisotropy)
export(tr_spatial_report_validation)
