importFrom(rlang,.data)
importFrom(rlang,"%||%")
export(trama_collection)
export(tr_spatial_errors)
export(tr_spatial_coordinates)
export(tr_spatial_example)
export(tr_spatial_variogram)
export(tr_spatial_variogram_fit)
export(tr_spatial_kriging)
export(tr_spatial_grid)
