importFrom(rlang,.data)
export(trama_collection)
export(tr_series_errors)
export(tr_series_example)
export(tr_series_from_table)
export(tr_series_diff)
export(tr_series_lag)
export(tr_series_transform)
export(tr_series_window)
export(tr_series_moving_average)
export(tr_series_aggregate)
export(tr_series_interpolate)
export(tr_series_decompose)
export(tr_series_deseasonalize)
export(tr_series_detrend)
export(tr_series_combine)
export(tr_series_stl)
export(tr_series_component)
export(tr_series_regression)
export(tr_series_arima)
export(tr_series_as_decomposition)
export(tr_series_ets)
export(tr_series_holt_winters)
export(tr_series_forecast)
export(tr_series_intervencao)
export(tr_series_detect_interventions)
export(tr_series_baseline)
export(tr_series_residuals)
export(tr_series_accuracy)
export(tr_series_adf)
export(tr_series_kpss)
export(tr_series_phillips_perron)
export(tr_series_zivot_andrews)
export(tr_series_ljung_box)
export(tr_series_box_pierce)
export(tr_series_ndiffs)
export(tr_series_mann_kendall)
export(tr_series_cox_stuart)
export(tr_series_runs)
export(tr_series_pettitt)
export(tr_series_kruskal_wallis)
export(tr_series_fisher)
export(tr_series_range_mean)
export(tr_series_plot)
export(tr_series_acf)
export(tr_series_pacf)
export(tr_series_lag_plot)
export(tr_series_seasonal_plot)
export(tr_series_subseries)
export(tr_series_plot_decomposition)
export(tr_series_plot_forecast)
export(tr_series_as_fit)
S3method(trama.models::tr_models_loglik,tr_series_arima_fit)
S3method(trama.models::tr_models_nesting,tr_series_arima_fit)
S3method(trama.models::tr_models_info,tr_series_arima_fit)
S3method(trama.models::tr_models_coefs,tr_series_arima_fit)
S3method(trama.models::tr_models_stats,tr_series_arima_fit)
S3method(trama.models::tr_models_resid,tr_series_arima_fit)
S3method(trama.models::tr_models_predict_raw,tr_series_arima_fit)
S3method(trama.models::tr_models_predict_cv,tr_series_arima_fit)
S3method(trama.models::tr_models_importance,tr_series_arima_fit)
S3method(trama.models::tr_models_card,tr_series_arima_fit)
S3method(trama.models::tr_models_as_table,tr_series_arima_fit)
export(tr_series_portmanteau_mv)
export(tr_series_normality_mv)
export(tr_series_arch_mv)
export(tr_series_residuals_mv)
